:root {
  --black: #{$black};
  --white: #{$white};
  --accent-color: #{$primary};
  --accent-color-light: #{rgba($primary, .1)};
  --accent-color-shade: #{rgba($primary, .2)};
  --gray-light: #{$gray-light};
  --gray-dark: #{$gray-dark};
  --box-shadow: 0 1.25rem 1.75rem 0 rgb(0 0 0 / 10%);
}

@font-face {
  font-family: Geogrotesque;
  src:
    local("Geogrotesque Regular"),
    local("Geogrotesque-Regular"),
    url("./assets/fonts/Geogrotesque-Regular.woff2") format("woff2"),
    url("./assets/fonts/Geogrotesque-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: Geogrotesque;
  src:
    local("Geogrotesque Bold"),
    local("Geogrotesque-Bold"),
    url("./assets/fonts/Geogrotesque-Bold.woff2") format("woff2"),
    url("./assets/fonts/Geogrotesque-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray-dark);
  overflow-x: hidden;
}

/* Temp fix for boostrap 5 and Safari */
input,
select {
  -webkit-appearance: none;
}
